{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Login</h1>
<div class="card mx-auto" style="width: 18rem;">
    <img src="https://t3.ftcdn.net/jpg/04/17/77/78/360_F_417777825_v7o8RvkQhxpZkE0ZBD4xwzri5hGFHkO3.jpg" class="card-img-top" alt="Login">
    <div class="card-body">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputEmail">Email address</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <label for="inputPassword">Password</label>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>
{% endblock %}
